@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@500;600;700;800;900&display=swap');
:root {
    --white: #ffffff;
    --darkgrey: #747682;
    --mediumlightgrey: #707176;
    --darkgreen: hsl(158, 36%, 37%);
    --black: #000000;
    --bluishblack: #242A31;
    --cream: hsl(26, 38%, 92%);
 }
*{
   margin: 0;
   box-sizing: border-box;
}



 body{
   background-color: var(--cream);
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
 }
.main-content{
    background-color: var(--white) ;
    width: 45vw;
    height: 60vh;
    display: flex;
    margin: auto;
    align-items: center;
    border-radius: 0.6rem;
}
 .left-content{
    width: 50vw;
    height: 100%;
 }
 .left-content > img{
   border-top-left-radius: 0.6rem ;
   border-bottom-left-radius: 0.6rem ;
   
 }
 .right-content{
   height: 60vh;
   width: 50vw;
 }
 .items{
   height: 100%;
   padding: 2em 2.25em;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
 }
.parfum{
   letter-spacing: 0.4em;
   font-size: 0.8rem;
   color: var(--mediumlightgrey);
   font-weight: 700;
}
.title{
   font-family:"Fraunces",  sans-serif;
   font-size: 2.3em;
   font-weight: 700;
   word-spacing: 0.2em;
   line-height: 1em;
}
.desc{
   font-weight: 400;
   font-size: 1.2em;
   text-align: justify;
   line-height: 1.5em;
   color: var(--darkgrey);

}
.final-price{
   padding: 2em 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   font-family: "Fraunces";
   justify-content: center;
} 
.promo-price{
   font-size: 2.5em;
   font-weight: 700;
   color:var(--darkgreen);
}
.price{
   padding-left: 1em;
   text-decoration: line-through;
   color:var(--mediumlightgrey);
}
.add-cart{
   width: 100%;
   height: 4em;
   background-color: var(--darkgreen);
   border: none;
   border-radius: 1em;
   color: var(--white);
   cursor: pointer;
}
.add-cart:hover{
   background-color: var(--bluishblack);
   transition-duration: 1s;
}